<h2>Agregar categoría</h2>
<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <% @category.errors.full_message.each do |msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <br>
  <%= f.submit "Agregar", class:"btn btn-primary" %>
  <%= link_to "Cancelar", categories_path, class:"btn btn-default" %>
<% end %>
